@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;500&display=swap');
body{
    width: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Readex Pro', sans-serif;
}
:root{
    --color-principal:#161B22;
    --color-secundario:#8B949E;
    --background-color:#0D1117;
}
.contenido{
    display: grid;
    
    margin: 0;
    padding: 0;
    grid-template-columns: 1fr 1fr;

    margin-bottom: 0;
   
}






.form__add{
height: 100vh;
width: 100%;
max-width: 100%;
margin: auto;
background-color: #FFB826;
font-family: 'Readex Pro', sans-serif;
}
.form__titulo{
  background-color: #FFB826;
  color: black;
  padding: 20px;
  text-align: center;
  font-weight: 100;
  font-size: 30px;
  margin-top: 0px;
  font-family: 'Readex Pro', sans-serif;
  font-weight: bold;
}
.container__inputs{
  padding: 10px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
input{
  margin-top: 1%;
  margin-bottom: 15px;
  padding: 15px;
  font-size: 20px;
  margin-left: 10%;

}
.input__100{
  width: 80%;
  border:none;
  outline: 0;
  box-sizing: border-box;
  background: white;
  border-radius: 10px;
}
.input__100:focus{
  border-bottom: 3px solid rgb(88, 88, 194) ;
  transform: scale(1.1); 
  transition: 0.5s;
}
.btn__add{
  background-color: #000000;
  color: white;
  text-align: center;
  font-family: sans-serif;
  cursor: pointer;
  padding: 10px 40px;
  border-radius: 10px;
  border:none;
}
.btn__add:hover{
  background-color: rgb(88, 88, 194) ;
  transition: 0.2s;
  transform: scale(1.2); 
}
.label__input{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 10%;
  padding: 0;
}
    

  
  

    .h1-titulo{
        margin-top: 0;
        text-align: center;
    }
    .contenido{
        background-color: #FFB826;
        height: 100vh;
    }
    .row{
        background-color: #FFB826;
    }
    .card-contact{
        display: grid;
        grid-template-columns: 1fr;
        width: 70%;
        margin: 0 auto;
        border-radius: 20px;
        background-color: #FFB826;
    }
    .card-tittle{
        background:rgb(255, 255, 255) ;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
        font-size: 28px;
        border-radius: 20px;
        margin-top: 20px;
        padding: 0 20px;
    }
    .contact{
        font-size: 20px;
    }
    .details{
        background: white;
        display: grid;
        border-radius: 20px;
        margin: 10px 0;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "detalles detalles ";
    }
    .details-contacts{
        grid-area: detalles;
        text-align: center;
        width: 70%;
        margin: 0 auto;
        padding: 20px;
        padding-bottom: 0;
        border-bottom: 2px solid rgb(99, 99, 218) ;
        font-size: 18px;
    }
    .contenido-contacto{
        display: flex;
        flex-direction: column;
    }
    .item{
        display: flex;
        flex-direction: row;
        padding: 10px;
    }
    .icono{
        font-size: 30px;
        text-align: center;
        margin: 10px;
    }


    @media (max-width: 657px) {
        .contenido{
            grid-template-columns: 1fr;
        }
        .form__add{
            width: 60%;
        }
      }
      @media (max-width: 450px) {
        .contenido{
            grid-template-columns: 1fr;
        }
        .form__add{
            width: 80%;
        }
      }
